[submodule "edu-market"]
	path = edu-market
	url = https://github.com/zunohoang/edu-market.git
[submodule "EduMarketClient"]
	path = EduMarketClient
	url = https://github.com/zunohoang/EduMarketClient.git
